<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCFServiceWithWebHttpBindingHost.HelloService">
        <endpoint address="HttpHelloService" binding="webHttpBinding" contract="WCFServiceWithWebHttpBindingHost.IHelloService"></endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/HelloService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>