<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ipv4.fiddler:8080/EmployeeService/wshttpHelloService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeService"
                contract="Client.IEmployeeService" name="WSHttpBinding_IEmployeeService">
                <identity>
                    <userPrincipalName value="smurkar@internal.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>